{% extends "base.html" %}
{% block content %}
  <form>
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
    <label for="inputEmail" class="visually-hidden">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="visually-hidden">password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    </div>
    <button class="w-100 btn btn-outline-dark" type="submit">Войти</button>
  </form>
  <a class="w-100 btn btn-outline-dark" href="./registration">Зарегистрироваться</a>
{% endblock %}