{% extends "base.html" %}
{% block content %}
<h1>Как работает бонусная система?</h1>

<p>При покупке любых товаров в нашем магазине вам возвращается 10% от стоимости покупки на ваш бонусный счет.
Ими можно оплатить до 20% стоимости следующего заказа.</p>
<p>Дополнительно бонусы можно заработать, учавствуя в интерактивах в социальных сетях нашего магазина</p>
<p class="text-muted">НА ДАННЫЙ МОМЕНТ БОНУСНАЯ СИСТЕМА В ДОРАБОТКЕ. КОГДА ОНА ВНОВЬ ЗАРАБОТАЕТ, БОНУСЫ ЗА ЗАКАЗЫ,
СДЕЛАННЫЕ В ПЕРИОД ДОРАБОТКИ, НАЧИСЛЯТСЯ ВАМ АВТОМАТИЧЕСКИ!</p>

{% endblock %}