{% extends "base.html" %}
{% block content %}

<form method="post">
    
{% for i in session['basket'].split(';') %}
<div class="row">
    {% if i != '' %}
    <div class="col-lg-4">
        <img src="/{{ Items.query.filter(Items.id == i.split(',')[0]).all()[0].photo_url }}" width="140px" height="140px"><br>
        <a>количество: {{ i.split(',')[1] }}</a><br>
        <a>цена: {{ Items.query.filter(Items.id == i.split(',')[0]).all()[0].price * (i.split(',')[1] | int) }} рублей</a><br>
        <a>название: {{ Items.query.filter(Items.id == i.split(',')[0]).all()[0].name }}</a>
        <form method="post">
        <input type="hidden" name="id", value="{{ Items.query.filter(Items.id == i.split(',')[0]).all()[0].id }},{{i.split(',')[1]}}" >
        <button class="w-30 btn btn-outline-dark" type="submit">Удалить</button>
        </form>
    </div>
    {% endif %}
</div> 
{% endfor %}

{% if session['id'] and session['basket'] %}

<div>
    <div class="orders info">
    <br><a>Ваши данные: {{ Users.query.filter(Users.id == session['id']).all()[0].name }} {{ Users.query.filter(Users.id == session['id']).all()[0].surname }} {{ Users.query.filter(Users.id == session['id']).all()[0].patronic }}</a><br>
    <a>Адрес: <input name='address' type="text"></a><br>
    <a>Комментарий продавцу: </a><input name='comment' type="text"><br>
    </div>
</div>

<input type="hidden" name="submit", value="delete">
<button class="w-100 btn btn-outline-dark" type="submit">Оформить заказ</button>
</form>
{% endif %}

{% endblock %}