{% extends "base.html" %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
     <div class="carousel-inner">
      <div class="carousel-item active" style="background-color:Silver;">
        <img class="bd-placeholder-img mx-auto d-block"  src="/static/img/tapescar.jpg" width="40%" height="100%">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-dark" style="text-align: left;">Лучшее у нас</h1>
            <p style="color:Gray;">Заказывайте прямо сейчас</p>
            <p><a class="btn btn-outline-secondary" href="/registration">Регистрация</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-color:Silver;">
        <img class="bd-placeholder-img mx-auto d-block" src="/static/img/highlighterscar.jpg" width="40%" height="100%">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-dark" style="text-align: left;">Платите бонусами</h1>
            <p style="color:Gray;">От каждой покупки возвращаем 10% бонусами</p>
            <p><a class="btn btn-outline-secondary" href="/bonus_system">Подробнее</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-color:Silver;">
        <img class="bd-placeholder-img mx-auto d-block" src="/static/img/notescar.jpg" width="40%" height="100%">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-dark" style="text-align: left;">Большой выбор товаров</h1>
            <p style="color:Gray;">Всё на ваш вкус и цвет)</p>
            <p><a class="btn btn-outline-secondary" href="/catalog">Каталог</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h1>Каталог товаров</h1>

<div class="row">

{% for item in items %}
  <div class="col-lg-4">
    <img class="bd-placeholder-img-c" src="{{ item.photo_url }}" width="140" height="140" aria-label="Placeholder: 140x140">
    <h4>{{ item.name }}</h4>
    <p>{{ item.price }} рублей</p>
    <p><a class="btn btn-secondary" href="item/{{ item.id }}">Подробнее</a></p>
  </div><!-- /.col-lg-4 -->
{% endfor %}

</div>

{% endblock %}