{% extends "base.html" %}
{% block content %}
<h1>Checking</h1>
<div class="row mix-list text-center">
		
    <div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/nabor-stikerpakov-garri-potter" class="aimg">
<img src="https://etovazno.com/files/products/d7909119-b6d1-4d9c-8c2c-1e65059c9713.250x250.jpeg?d0ed8de53cce9346759a0704ec95a2a3" alt="Набор стикерпаков «Гарри Поттер»">

<div class="sticker sticker-sale sticker-feature">Хит</div>
<div class="sticker sticker-sale">&minus;7%</div>
</a>

<input id="variant_334" name="variant" value="441" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="334" data-name="Набор стикерпаков «Гарри Поттер»">Купить</button>
</form>
<h5><a href="products/nabor-stikerpakov-garri-potter" data-product="334">Набор стикерпаков «Гарри Поттер»</a></h5>
<div class="cost">
<del>290</del>
<span class="new">270 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_334" src="https://etovazno.com/files/products/d7909119-b6d1-4d9c-8c2c-1e65059c9713.65x65.jpeg?a69870827e0e62a1c2a762d1fbf18fa4" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/shopper-eto-vazhno" class="aimg">
<img src="https://etovazno.com/files/products/img_8069-min.250x250.jpg?d53702a214b7e0476b7594ef38331a23" alt="Шоппер «Это важно»">

<div class="sticker sticker-sale sticker-feature">Хит</div>
<div class="sticker sticker-sale">&minus;34%</div>
</a>

<input id="variant_313" name="variant" value="419" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="313" data-name="Шоппер «Это важно»">Купить</button>
</form>
<h5><a href="products/shopper-eto-vazhno" data-product="313">Шоппер «Это важно»</a></h5>
<div class="cost">
<del>900</del>
<span class="new">600 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_313" src="https://etovazno.com/files/products/img_8069-min.65x65.jpg?74ed717599b7fa957b16f1bc88f54668" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stikery-ucheba" class="aimg">
<img src="https://etovazno.com/files/products/img_3488_3492.250x250.jpg?e75383611516c39b5095053766a64989" alt="Стикеры &quot;Учёба&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<a href="products/stikery-ucheba" class="btn btn-primary">Подробнее</a>
</form>
<h5><a href="products/stikery-ucheba" data-product="255">Стикеры &quot;Учёба&quot;</a></h5>
<div class="cost">
<span class="grey">Нет в наличии</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_255" src="https://etovazno.com/files/products/img_3488_3492.65x65.jpg?ef7aa5fe8c56a330b558834cb4424701" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-eda-2" class="aimg">
<img src="https://etovazno.com/files/products/img_8924.250x250.jpg?c2fc9fdea37329d91843739f60167759" alt="Стикер-пак &quot;Еда&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_230" name="variant" value="288" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="230" data-name="Стикер-пак "Еда"">Купить</button>
</form>
<h5><a href="products/stiker-pak-eda-2" data-product="230">Стикер-пак &quot;Еда&quot;</a></h5>
<div class="cost">
<span>215 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_230" src="https://etovazno.com/files/products/img_8924.65x65.jpg?9164051a5debbc0991fa4469a5a552ce" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-po-miru" class="aimg">
<img src="https://etovazno.com/files/products/po-miru.250x250.jpg?b8bd05b950382d58a0bf13fb1ce8e76c" alt="Стикер-пак &quot;По миру&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_229" name="variant" value="287" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="229" data-name="Стикер-пак "По миру"">Купить</button>
</form>
<h5><a href="products/stiker-pak-po-miru" data-product="229">Стикер-пак &quot;По миру&quot;</a></h5>
<div class="cost">
<span>215 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_229" src="https://etovazno.com/files/products/po-miru.65x65.jpg?0f6e8df388e2243c5e1ddb53c2e45d96" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-platforma-9-i-34" class="aimg">
<img src="https://etovazno.com/files/products/img_8351.250x250.jpg?9707f2cf90f1b4b9ab66edb79511e787" alt="Стикер-пак &quot;Платформа 9 и 3/4&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_325" name="variant" value="432" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="325" data-name="Стикер-пак "Платформа 9 и 3/4"">Купить</button>
</form>
<h5><a href="products/stiker-pak-platforma-9-i-34" data-product="325">Стикер-пак &quot;Платформа 9 и 3/4&quot;</a></h5>
<div class="cost">
<span>145 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_325" src="https://etovazno.com/files/products/img_8351.65x65.jpg?209436b94a085bb8509f8febffd9c663" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-tvoj-noutbuk-" class="aimg">
<img src="https://etovazno.com/files/products/img_4468.250x250.jpg?c34250e311f840b7f5a905e626966c45" alt="Стикер-пак &quot;Твой ноутбук&quot; ">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_159" name="variant" value="170" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="159" data-name="Стикер-пак "Твой ноутбук" ">Купить</button>
</form>
<h5><a href="products/stiker-pak-tvoj-noutbuk-" data-product="159">Стикер-пак &quot;Твой ноутбук&quot; </a></h5>
<div class="cost">
<span>145 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_159" src="https://etovazno.com/files/products/img_4468.65x65.jpg?6fdd52aa9dc7dae5a7b6f5869b2a767a" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-tumblr" class="aimg">
<img src="https://etovazno.com/files/products/img_4469.250x250.jpg?656584e966133f0d6d2ec9886a41884f" alt="Стикер-пак &quot;tumblr&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_158" name="variant" value="169" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="158" data-name="Стикер-пак "tumblr"">Купить</button>
</form>
<h5><a href="products/stiker-pak-tumblr" data-product="158">Стикер-пак &quot;tumblr&quot;</a></h5>
<div class="cost">
<span>145 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_158" src="https://etovazno.com/files/products/img_4469.65x65.jpg?fc1c0380c8922a3c917dfe967ef09495" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-knizhnaya-lyubov-2" class="aimg">
<img src="https://etovazno.com/files/products/5b805159-868c-4267-8df2-11a9a77afc34.250x250.jpeg?b7dd029a6de5ddbd6a84ea4318993167" alt="Стикер-пак &quot;Книжная любовь 2&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_156" name="variant" value="167" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="156" data-name="Стикер-пак "Книжная любовь 2"">Купить</button>
</form>
<h5><a href="products/stiker-pak-knizhnaya-lyubov-2" data-product="156">Стикер-пак &quot;Книжная любовь 2&quot;</a></h5>
<div class="cost">
<span>145 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_156" src="https://etovazno.com/files/products/5b805159-868c-4267-8df2-11a9a77afc34.65x65.jpeg?fe870a101cf28f7f0bec7f705f464af5" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-zagolovki" class="aimg">
<img src="https://etovazno.com/files/products/35aa6f83-cbed-4e3a-9a58-46a0729fa2d6.250x250.jpeg?564993d1f0ba1eddaa87796d8fbdca96" alt="Стикер-пак &quot;Заголовки&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_151" name="variant" value="162" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="151" data-name="Стикер-пак "Заголовки"">Купить</button>
</form>
<h5><a href="products/stiker-pak-zagolovki" data-product="151">Стикер-пак &quot;Заголовки&quot;</a></h5>
<div class="cost">
<span>145 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_151" src="https://etovazno.com/files/products/35aa6f83-cbed-4e3a-9a58-46a0729fa2d6.65x65.jpeg?14c46cc02ad25110a3f1e1caedb6372c" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-mesyatsa" class="aimg">
<img src="https://etovazno.com/files/products/img_4379.250x250.jpg?79c3173a15706ae52401ad6c84047bfa" alt="Стикер-пак &quot;Месяца&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_149" name="variant" value="160" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="149" data-name="Стикер-пак "Месяца"">Купить</button>
</form>
<h5><a href="products/stiker-pak-mesyatsa" data-product="149">Стикер-пак &quot;Месяца&quot;</a></h5>
<div class="cost">
<span>145 руб</span>
</div>

<!-- Image for cart notification -->
<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
<img id="product_image_149" src="https://etovazno.com/files/products/img_4379.65x65.jpg?d3f552953d15a29f29231779b7fa6735" alt="notify_thumb">
</div>
</div>
<div class="col-md-3 mix featured_products">
<form class="cimg variants" action="/cart">
<a href="products/stiker-pak-kosmos" class="aimg">
<img src="https://etovazno.com/files/products/img_4467.250x250.jpg?6b9d23cd73bcbbde3eb23570e55ec8f2" alt="Стикер-пак &quot;Космос&quot;">

<div class="sticker sticker-sale sticker-feature">Хит</div>
</a>

<input id="variant_148" name="variant" value="159" type="radio" class="hidden" checked />
<button class="btn btn-primary add-cart" data-id="148" data-name="Стикер-пак "Космос"">Купить</button>
</form>
<h5><a href="products/stiker-pak-kosmos" data-product="148">Стикер-пак &quot;Космос&quot;</a></h5>
<div class="cost">
<span>145 руб</span>
</div>
{% endblock %}