{% extends "admin_base.html" %}
{% block content %}
<h3>Удаление товаров</h3>

<div class="row">
    {% for item in info_items %}
        <div class="col-lg-4">
            <img class="bd-placeholder-img-c" src="/{{ item.photo_url }}" width="140px" height="140px">
            <br>
            <a>название: {{ item.name }}</a>
            <br>
            <a>описание: {{ item.description }}</a>
            <br>
            <a>цена: {{ item.price }} рублей</a>
            <br>
            <a>количество на складе: {{ item.count }}</a>
            <br>
            <form method="post">
                <input type="hidden" name="id" value="{{ item.id }}">
                <button class="w-30 btn btn-outline-dark" type="submit">Удалить</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}