{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="container product padding-top">
		<div class="col-sm-6 product-gallery magnific-wrap">
			<div class="img-medium text-center">
				<div class="medium-slider">
						<img src="/{{ item.photo_url }}" alt="Стикер-пак &quot;Студенты&quot;" />
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="row">
				<h2 data-product="116">{{ item.name }}</h2>
				<div class="cost">
					<div style="display: inline;" id="product_price">
						<span>{{ item.price }}</span>
					</div>
				</div>
			</div>
			<div class="rating-wrap">
				{{ item.description }}
				<form method="post">
					<div class="row product-count">
						<div class="counting inline-block">
							<a href="" class="a-less disabled">-</a>
							<input type="text" value="1" id="product_amount" data-max="50">
							<a href="" class="a-more">+</a>
						</div>
						<button class="w-100 btn btn-outline-dark" type="submit">Купить</button>				
					</div>
				</form>
		</div>
	</div>
{% endblock %}