{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="container product padding-top">
					<div class="col-sm-6 product-gallery magnific-wrap">
				<div class="img-medium text-center">
					<div class="medium-slider">
													<a href="https://etovazno.com/files/products/img_3459.1000x1000.jpg?209b4268b044f8da13a644c3f4bf1882" title="Стикер-пак &quot;Студенты&quot;" class="magnific">
								<img src="https://etovazno.com/files/products/img_3459.700x700.jpg?03633b23e127f54e11fa00fd36bff34e" alt="Стикер-пак &quot;Студенты&quot;" />
							</a>
													<a href="https://etovazno.com/files/products/studentyr.1000x1000.jpg?cb1054f3de420879dab4f8d7e1f5d080" title="Стикер-пак &quot;Студенты&quot;" class="magnific">
								<img src="https://etovazno.com/files/products/studentyr.700x700.jpg?aac14f058a386fcdd6b498e5d7db0c87" alt="Стикер-пак &quot;Студенты&quot;" />
							</a>
											</div>
				</div>

								<div class="thumbs-wrap">
					<a href="" class="th-prev th-arrow pull-left">
						<i class="custom-icon custom-icon-arrow-prev"></i>
					</a>
					<a href="" class="th-next th-arrow pull-right">
						<i class="custom-icon custom-icon-arrow-next"></i>
					</a>
					<div class="thwrap">
						<div class="thumbs-slider">
														<a href="https://etovazno.com/files/products/img_3459.700x700.jpg?03633b23e127f54e11fa00fd36bff34e" data-bigimg="https://etovazno.com/files/products/img_3459.1000x1000.jpg?209b4268b044f8da13a644c3f4bf1882"><img src="https://etovazno.com/files/products/img_3459.80x80.jpg?314e6fb3319821ffc62ede8c2fc02db1" alt="Стикер-пак &quot;Студенты&quot;" /></a>
														<a href="https://etovazno.com/files/products/studentyr.700x700.jpg?aac14f058a386fcdd6b498e5d7db0c87" data-bigimg="https://etovazno.com/files/products/studentyr.1000x1000.jpg?cb1054f3de420879dab4f8d7e1f5d080"><img src="https://etovazno.com/files/products/studentyr.80x80.jpg?668a3c1e46b9cbdd7869708ff8f5a0d9" alt="Стикер-пак &quot;Студенты&quot;" /></a>
													</div>
					</div>
				</div>
							</div>
				
		<!-- Image for cart notification -->
		<div style="overflow: hidden; opacity: 0; width: 0px; height:0px;">
						<img id="product_image_116" src="https://etovazno.com/files/products/img_3459.65x65.jpg?6f3b61e08079fd6553038ca057d8bb37" alt="notify_thumb">
					</div>
		
		<div class="col-sm-6">
			<div class="row">
				<h2 data-product="116">Стикер-пак &quot;Студенты&quot;</h2>
				<div class="cost">
											<div style="display: inline;" id="product_price">
												<span>145 руб</span>
												</div>
												<span class="grey">| Нет в наличии <i style="color: #d8210e" class="fa fa-battery-empty" aria-hidden="true"></i></span>
															</div>
			</div>
			<div class="rating-wrap">
				<div class="raty raty-read" data-score="5" data-readonly="true"></div>
				<a href="#reviews" data-toggle="tab" class="add-review black tab-link">
											<span itemprop="ratingCount">1</span> отзыв
									</a>
			</div>
			<div class="row">
				<p><span><span>Авторские стикеры на виниле с матовой ламинацией</span><br /><span>&bull; Размер А5<br /><span>&bull; Не выцветают<br /><span>&bull; Стойко держатся на любых поверхностях<br /><span>&bull; Не портятся при многократном использовании<br /></span></span></span></span></span><span><span>&bull;&nbsp;</span>На прозрачной основе</span></p>
			</div>
						<div class="row hidden">
				<div class="col-md-6" style="padding: 0">
					<select id="variant_116" name="variant" data-width="100%" data-prd_id="116" data-stock="0">
													<option value="127" 
									data-price="145 руб" 
																																													selected 
							>&nbsp;</option>
											</select>
				</div>
			</div>
			<div class="row product-count">
				<div class="counting inline-block">
					<a href="" class="a-less disabled">-</a>
					<input type="text" value="1" id="product_amount" data-max="50">
					<a href="" class="a-more">+</a>
				</div>
				<a class="btn btn-primary add-cart" href="#" data-id="116" data-name="Стикер-пак "Студенты"">Купить</a>
			</div>
			
				<div class="inform-back-in-stock-me" style="padding-bottom: 20px;">
					<a class="btn btn-primary" href="#inform-back-in-stock" onclick='javascript:;'>
						Сообщить, когда появится в наличии
					</a>
				</div>
			
						<table class="product-table">
				<tr id="product_sku" class="hidden">
					<th>Артикул</th>
					<td><span class="grey"></span></td>
				</tr>
				<tr>
					<th>Категория</th>
					<td>
													<a href="catalog/stikery-a5">Стикеры А5</a>											</td>
				</tr>
								<tr>
					<th>Соседние&nbsp;товары</th>
					<td>
						<a href="products/stiker-pak-fantasticheskie-tvari">Стикер-пак &quot;Фантастические твари&quot;</a>, 						<a href="products/stiker-pak-studenty-2">Стикер-пак &quot;Студенты 2&quot;</a>					</td>
				</tr>
							</table>
		</div>
	</div>
{% endblock %}