{% extends "admin_base.html" %}
{% block content %}

<h2>Заказы</h2>
{% if orders %}
{% for order in orders %}
<div>
    {% for i in order.item %}
        <img src="/{{ Items.query.filter(Items.id == i).all()[0].photo_url }}" width="140px" height="140px">
        <br>
        <a>цена: {{ Items.query.filter(Items.id == i).all()[0].price }}</a>
        <br>
        <a>название: {{ Items.query.filter(Items.id == i).all()[0].name }}</a>
    {% endfor %}
    <br><br>
    <a>{{ order.email }}</a><br>
    <a>{{ order.created_date }}</a>
</div>
{% endfor %}
{% else %}
<h3>История заказов пуста</h3>
{% endif %}

{% endblock %}