{% extends "base.html" %}
{% block content %}

<div class="user info">
<h1>Личный кабинет</h1>
<h5>{{user.name}} {{user.surname}} {{user.patronic}}</h5>
<p>Почта: {{user.email}}</p>
<p>Телефон: {{user.phone}}</p>
<p>Бонусы: {{user.bonuses if item.bonuses else 0}}</p>
</div>
<div>
    <h2>История заказов</h2>
    {% if order %}
        {% for order in info_orders%}
            <div class="orders info">
            <p>Заказ номер {{order.id}}</p>
            <p>Дата заказа: {{order.created_date}}</p>
                </div>
    {% else %}
        <h4>История заказов пуста</h4>
    {% endif %}
</div>



{% endblock %}