{% extends "base.html" %}
{% block content %}

<div class="user info">
<h1>Личный кабинет</h1>
<h5>{{ user.name }} {{ user.surname }} {{ user.patronic }}</h5>
<p>Почта: {{ user.email }}</p>
<p>Телефон: {{ user.phone }}</p>
    <p>Адрес доставки: {{ user.address }}</p>
<p>Бонусы: {{ user.bonuses if user.bonuses else 0 }}</p>
    <a class="btn btn-outline-dark" href="./info_changing">Изменить данные</a>
</div>
<div>
{% if orders %}
    <h2>История заказов</h2>
    {% for order in orders%}
        <div class="orders info">
            {% for item in order.item.split(';') %}
                <img src="/{{ Items.query.filter(Items.id == item.split(',')[0]).all()[0].photo_url }}" width="200px" height="200px"><br>
                <a>{{ Items.query.filter(Items.id == item.split(',')[0]).all()[0].name }}</a><br>
                <a>количество: {{ item.split(',')[1] }}</a>>
                <a>{{ Items.query.filter(Items.id == item.split(',')[0]).all()[0].price }}</a><br>
            {% endfor %}
        <a>Номер заказа: {{order.id}}</a><br>
        <a>Дата заказа: {{order.created_date}}</a><br>
        <a>Адрес: {{order.address}}</a><br>
        <a>Ваш комментарий: {{order.comment_of_user}}</a><br>
        <a>Статус заказа: {{order.status}}</a><br>
            {% if order.track_num %}
            <a>Трек номер: {{order.track_num}}</a><br>
            {% else %}
            <a>Трек номер ещё не присвоен</a><br>
            {% endif %}
            {% if order.comment_of_sender %}
            <a>Комментарий отправителя: {{order.comment_of_sender}}</a><br>
            {% else %}
            <a>Комментарий отправителя отсутсвует</a><br>
            {% endif %}

        </div>
    {% endfor %}
{% else %}
    <h4>История заказов пуста</h4>
{% endif %}
</div>

{% endblock %}