{% extends "base.html" %}
{% block content %}
 <form method="post">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
    <label for="inputName" class="visually-hidden">name</label>
        <input name="name" type="text" id="inputName" class="form-control" placeholder="Имя" required>
    <label for="inputSurname" class="visually-hidden">surname</label>
        <input name="surname" type="text" id="inputSurname" class="form-control" placeholder="Фамилия" required>
    <label for="inputPatronic" class="visually-hidden">patronic</label>
        <input name="patronic" type="text" id="inputPatronic" class="form-control" placeholder="Отчество">
    <label for="inputPhone" class="visually-hidden">phone</label>
        <input name="phone" type="text" id="inputPhone" class="form-control" placeholder="Номер телефона" required>
    <label for="inputEmail" class="visually-hidden">Email</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Почта" required autofocus>
    <label for="inputPassword" class="visually-hidden">password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
     <button class="w-100 btn btn-outline-dark" type="submit">Зарегистрироваться</button>
 </form>
{% endblock %}